
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


 body {
  background:#000;
  height: 100%;
 }

 .container {
  background: #1F2937;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: none;
  
 }

 .head.child {
  background: #1F2937;
  height: 400px;
  display: flex;
  flex-direction: column;
 }
 
 .first {
  background: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  border: none;
  border-style: transparent;
  
  
 }

 .card1 h6 {
  padding-left: 80px;
  font-size: 0.5rem;
  color: rgb(224, 195, 195);
 }


 
 .card3 button {
  
  margin-right: 20px;
  margin-bottom: 7px;
  background:  #1F2937;
 }

 .second {
  background:  #1F2937;
  height: 200px;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  border:none;
  border-style: transparent;
  
 }

 h4 {
  font-family: roboto;
  color: #dbc5c5;
 }

 .par {
  font-size: 0.5rem;
  font-family: roboto;
  color: #d8c9c9;
 }
 button {
  width: 70px;
  font-size: 0.4rem;
  border: none;
 }

 button p {
  color: rgb(237, 222, 222);
 }
 .container .child {
  background: peachpuff;
  border: none;
  height: 200px;
  
 }

 .cad1 {
  height: 80px;
  width: 150px;
  object-fit: cover;
  padding-left: 35px;
 }

 .cad2 .img img {
  height: 80px;
  width: 180px;
  object-fit: cover;
  border-radius: 4px;
  padding-right: 35px;
 }

 .signup {
  height: 15px;
  width: 50px;
  border-radius: 4px;
  color: #fff;
  background:  #5d95f0;
  padding-bottom: 2px;
 }
 .child.info {
  display: flex;
  justify-content: center;
  height: 30px;
  background: white;
  padding: 20px;
}

 

 .container .foot.child {
  background: #1F2937;
  height: 70px;
 }

 .child.blue {
  display: flex;
  justify-content: center;
  background: rgb(245, 240, 240);
  height: 120px;
 }
 .child.blue .blue {
  background: #3882F6;
  margin: 40px 30px 40px 30px;
  border-radius: 3px;
  height: 50px;
  width: 500px
 }

 .blue{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  
 }
 
 .blue .button {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.5rem;
  color: white;
  border: solid white;  
  padding: 1px;
  border-width: thin;
  background:  #3882F6;
  border-radius: 2px;
  width: 50px;
 }
 
 
 .blue .spnpage {
  font-size: 0.4rem;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  
 }

 .foot.child {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .child.lord {
  display: flex;
  align-items: center;
  background: #E5E7EB;
  border-style: none;
 }

.inspire-jesus {
  display: flex;
  display: block;
  margin: 20px;
  background: #E5E7EB;
}

.inspire p {

font-style: italic;
font-weight: 1s00;
font-size: 12px;
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
padding-bottom: 20px;
}

div .jesus p {
  color: #000;
  padding-left: 280px;
  padding-bottom: 4px;
  font-size: 9px;
  font-weight: 700; 
  
}


  .child.info p {
    font-weight:800;
    font-size: 0.7rem;
  }



.child.boxes {
  height: 280px;
  padding-right: 60px;
  padding-left: 60px;
  background: white;
  border-style: none;
  display: flex;  
}

 .bx {  
  height: 60px;
  width: 50px;
  border-radius: 5px;
  background: white;
  border: 1px solid #3882F6;
  flex: 1;
  align-content: space-between;
  margin: 10px;
  display: flex; 
  justify-content: center;
  margin-bottom: 50px;
  
}

.bx p {
  align-self: flex-end;
  color: white;
  margin-top: 50px;
}

.bx .bee {
  align-self: flex-start;
  margin-bottom: 30px;
}
 
.page { margin-top: 10px; 
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.page p {
  
      height: 100px;
      color: black;
      font-size: 0.4rem;
}









